# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\File Code\Module 3 ( Web)\TuDienDonGian-Servlet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
